#header {
  position:relative;
  display:block;width:100%; height: 32px; line-height: 32px; vertical-align: middle;
  background: #0b1103; white-space: nowrap; word-wrap:normal;
}
#headerAfter{
  height: 5px; width:100%; display:block;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#384229), to(#dff7d3));
  background: linear-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#384229), to(#dff7d3));
}
#header > span { font-size: 22px; height:100%; overflow:hidden; color:#1b6b44; padding: 7px 29px; overflow:hidden; white-space: nowrap; word-wrap:normal; }
#headerDate {
  position:absolute; top:0; right:0;
  color: #fff; font-size: 16px; font-family: "Lucida Console", Monaco, monospace; margin: 0 15px; white-space: nowrap; word-wrap:normal;
}

.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #b3d4fc;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #3f51b5;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

#mapLoadingProgress {
    position:absolute;
    top:0; left:0; right:0;
    z-index: 30;
}

.paramsSelectPaneCont {
    position:absolute;
    bottom:20px; left:80px; right:280px;
    height:100px;
    background: #0A524F; color:#fff; opacity:0.85;
    z-index: 35;
}
.paramsSelectPane { display:block; position:relative; width:100%; height:95px; }
.paramsSelectPaneHead {
  display:block; position:relative;
  width:100%; height:23px;
  text-align: center; line-height: 23px; font-size: 20px;
  background:#4A8765; color:#eee;
  -webkit-font-smoothing: antialiased;
}

.paramSelectPaneItem {
  font-family: Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size:14px;
  width:118px; height:63px; padding:5px;
  background: #57A337;
  border-radius: 3px;
}
.paramSelectPaneItem.checked {
  background: #57A337 url('../img/tick_64.png') no-repeat;
  background-position: center center;
}

/* Tabs in popup window */
div.popupTabs {
  font-size: 12px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
div.popupTabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  transition: 0.3s;
  font-size: 12px;
}
div.popupTabs button:hover {
  background-color: #ddd;
}
div.popupTabs button.active {
  background-color: #ccc;
}
.popupTabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


keyframes loadingIcoAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingIco { display:inline-block; margin:auto; padding:12px; width:36px; height:36px; }
.loadingIco:before {
  content:"";
  display:inline-block;
  margin:0;padding:0;
  width:24px; height:24px;
  border-radius: 50%;
  border: .5rem solid rgba(150,150,150,0.1);
  border-top-color: #bee7f1;
  border-left-color: #bee7f1;
  animation: loadingIcoAnim 1s infinite linear;
}
